
/*新样式*/
*{

    padding: 0;
    margin: 0;
}

body{
    background: rgba(244, 245, 245, 1.0);
}

/*回到顶部*/
.fa-chevron-up{

    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 100;
    color: white;
    background: #4ecdc4;
    font-size: 30px;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 5px;
    opacity: .9;
}

/*标签*/
.label{

    float: right;
    margin-top: 20px;
    margin-left: 10px;
}

/*背景大图*/
.jumbotron{

    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*查看更多*/
.btn-warning{

    float: right;
    background-color: #4ecdc4;
    border-color: #4ecdc4;
}

/*背景大图不同imageurl*/
.shoppingcar{
    background-image: url("http://demo.cssmoban.com/cssthemes4/tops_04_karmo/assets/img/services.jpg");
}

.wexinalipay{
    background-image: url("http://img3.imgtn.bdimg.com/it/u=3030245777,1359886196&fm=27&gp=0.jpg");
}

.swift{
    background-image: url("http://mpic.tiankong.com/bfd/a20/bfda2035ebd0b5e46c4a22aa1d7f7997/640.jpg");
}

.rac1{
    background-image: url("http://f11.baidu.com/it/u=3480207485,1327695020&fm=72");
}
.rac2{
    background-image: url("http://demo.cssmoban.com/cssthemes4/tops_04_karmo/assets/img/header.jpg");
}
.rac3{
    background-image: url("http://img2.imgtn.bdimg.com/it/u=1288966139,2767113981&fm=27&gp=0.jpg");
}

.navAndTab{
    background-image: url("http://img1.imgtn.bdimg.com/it/u=2429969804,304779977&fm=27&gp=0.jpg");
}

.locks{
    background-image: url("http://img2.imgtn.bdimg.com/it/u=2468385267,3315247431&fm=27&gp=0.jpg");
}

.lldb{
    background-image: url("http://img4.imgtn.bdimg.com/it/u=3609377433,2859644039&fm=200&gp=0.jpg");
}

.jpush{
    background-image: url("http://img1.imgtn.bdimg.com/it/u=3334199272,1561300111&fm=27&gp=0.jpg");
}

.GCD{
    background-image: url("http://img2.imgtn.bdimg.com/it/u=1288966139,2767113981&fm=27&gp=0.jpg");
}

.encrypt{
    background-image: url("http://img0.imgtn.bdimg.com/it/u=3907056736,1879431786&fm=200&gp=0.jpg");
}

.detailnotes{
    background-image: url("http://img3.imgtn.bdimg.com/it/u=3850282918,4044379473&fm=200&gp=0.jpg");
}

.wexinalipaysummarise{
    background-image: url("http://img1.imgtn.bdimg.com/it/u=1911225759,3668460650&fm=27&gp=0.jpg");
}

.cocoapods{
    background-image: url("http://img1.imgtn.bdimg.com/it/u=1871377975,4067019460&fm=200&gp=0.jpg");
}

.clang{
    background-image: url("http://img0.imgtn.bdimg.com/it/u=3907056736,1879431786&fm=200&gp=0.jpg");
}

.cache{
    background-image: url("http://img4.imgtn.bdimg.com/it/u=3609377433,2859644039&fm=200&gp=0.jpg");
}

.appcheck{
    background-image: url("http://img3.imgtn.bdimg.com/it/u=1284627649,2009452106&fm=27&gp=0.jpg");
}

.block{
    background-image: url("http://demo.cssmoban.com/cssthemes4/tops_04_karmo/assets/img/services.jpg");
}