

h2{
    text-align: center;
    width: 100%;
}

p.dialog{

    text-indent: 20px;
}

p.desc{

    font-size: small;
    color: cadetblue;
    padding-left: 20px;
}


h3{
    border: 1px solid rebeccapurple;
    font-weight: 300;
}

div{
    border: 1px solid rebeccapurple;
}